body {
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
body .hidden {
  display: none;
}
body .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  grid-gap: 5px;
  transform: scale();
}
body .grid .grid__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: 220px;
  background-color: black;
  transform: scale();
}
body .grid .grid__box .animated__gif {
  width: 200px;
  max-height: 200px;
  margin: 0;
  padding: 0;
  user-select: none;
  transform: scale();
}
body .scale-small {
  transform: scale(0.33);
  transition: "transform 2s";
}